name: Git tag

on:
  workflow_call:
    inputs:
      chartPath:
        description: "helm Chart.yaml path e.g. charts/yourapp/Chart.yaml"
        required: true
        type: string
      tagPrefix:
        description: "Optional prefix for the git tag"
        required: false
        type: string
        default: ""
      runsOn:
        description: "github actions runner to use for this action"
        default: "ubuntu-latest"
        required: false
        type: string
    secrets:
      GH_TOKEN:
        description: "github token to use for tag creation"
        required: false

jobs:
  git-tag:
    runs-on: ${{ inputs.runsOn }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get helm chart version
        run: echo "CHART_VERSION=$(grep '^version:' ${{ inputs.chartPath }} | cut -d ":" -f2 | tr -d ' ')" >> $GITHUB_ENV

      - name: Create tags
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GH_TOKEN || github.token }}
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/${{ inputs.tagPrefix }}${{ env.CHART_VERSION }}",
              sha: context.sha
            })
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/v${{ inputs.tagPrefix }}${{ env.CHART_VERSION }}",
              sha: context.sha
            })
